<div class="paralax-container">
    <div class="paralax">
        <img src="/images/background1.jpg">
    </div>
</div>
<div class="section white">
    <div class="row container">
        <h2>{{this.name}}</h2>
        <br>
        <br>
        <span>{{this.desc}}</span>
        <br>
        <span>{{this.schedule}}</span>
        <br>
        <span>{{this.prereq}}</span>
        <br>
        <span>{{this.price}}</span>
    </div>
</div>
<div class="paralax-container">
    <div class="paralax">
        <img src="/images/diver4.jpg">
    </div>
</div>



<script>
    $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>