<main>
   <div class=“paralax-container”>
       <div class=“row”>
           <div class=“col s12”>
               <h1 id=“h1">Brad’s Top Dive Sites!</h1>
           </div>
       </div>
       <div class=“row”>
           <div class=“col s6">
               <h2>{{this.spot}}</h2>
           </div>
       </div>
       <div class=“row”>
           <div class=“col s6">
               <div class=“slider”>
                   <ul class=“slides”>
                       {{#each this.images}}
                       <li>
                           <img src={{this}}>
                       </li>
                       {{/each}}
                   </ul>
               </div>
           </div>
           <div class=“col s6”>
               <div class=“card-panel” id=“textBox”>
                   {{this.body}}
               </div>
           </div>
       </div>
       <div class=“row”>
           <div class=“col s6”>
               <h4 id=“mapHead”>Get there!</h4>
           </div>
           <div class=“col s 6”>
               <h4 id=“weatherCon”>Weather Conditions</h4>
           </div>
       </div>
       <div class=“row”>
           <div class=“col s6">
               <div id=“map”>
               </div>
           </div>
           <div class=“col s6">
               <div class=“card-panel” id=“weatherHolder”>
                   <span>Today’s Weather: {{this.desc}}</span>
                   <br>
                   <br>
                   <span>Current Temp: {{this.temp}}</span>
                   <br>
                   <br>
                   <span>Today’s Low: {{this.minTemp}}</span>
                   <br>
                   <br>
                   <span>Today’s High: {{this.maxTemp}}</span>
               </div>
           </div>
       </div>
       <div class=“row”>
           <div class=“col s6">
               <button id=“prevBut”>Previous Spot</button>
           </div>
           <div class=“col s6">
               <button id=“nextBut”>Next Spot</button>
           </div>
       </div>
   </div>
</main>

<script>
   $(document).ready(function () {
       $(‘.slider’).slider();
       $(‘.parallax’).parallax();
       var temp = window.location.pathname.split(“/”)
       if (temp[2] === “1”) {
           $(“#prevBut”).hide()
       }


      $(“#nextBut”).click(function(){
          var newID = parseInt(temp[2]) + 1;
          window.location.href = “/topSpots/” + newID;
      })

      $(“#prevBut”).click(function(){
          var newID = parseInt(temp[2]) - 1;
          window.location.href = “/topSpots/” + newID;
      })


   });

</script>

Message Input

Message @MikeHeiser

*bold* _italics_ ~strike~ `code` ```preformatted``` >quote